/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: url("./assets/images/backgroud.png");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}